@page "/"

Kaylo Leon
<br>https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
